<header
  class="top-0 z-50 fixed bg-card/90 shadow-sm backdrop-blur-md px-0 border-slate-800 border-b text-slate-200 navbar"
>
  <div class="pl-2 navbar-start">
    <a class="flex items-center space-x-2.5" routerLink="/home">
      <span
        class="flex justify-center items-center bg-primary rounded-lg w-8 h-8 font-bold text-white text-xl"
        >A</span
      >
      <div class="font-bold text-white text-xl uppercase tracking-tight">
        <span>Aura</span>
        <span class="text-primary">.Ai</span>
      </div>
    </a>
  </div>
  <div class="hidden md:block navbar-center">
    <ul class="flex items-center space-x-6">
      <li
        class="font-medium text-slate-400 hover:text-white text-sm transition-colors duration-300"
      >
        <a routerLinkActive="text-white" routerLink="/home">Home</a>
      </li>
      <li
        class="font-medium text-slate-400 hover:text-white text-sm transition-colors duration-300"
      >
        <a routerLinkActive="text-white" routerLink="/products">Shop</a>
      </li>
      <li
        class="font-medium text-slate-400 hover:text-white text-sm transition-colors duration-300"
      >
        <a routerLinkActive="text-white" routerLink="/orders">Orders </a>
      </li>
    </ul>
  </div>
  <div class="flex items-center space-x-3 navbar-end">
    <a routerLink="/wishlist" class="btn btn-ghost btn-circle">
      <div class="indicator">
        <ng-icon name="lucideHeart" size="24" color="white"></ng-icon>
        @if (wishlistCount() > 0) {
          <span class="bg-red-500 badge badge-xs indicator-item">{{ wishlistCount() }}</span>
        }
      </div>
    </a>
    <a routerLink="/cart" class="btn btn-ghost btn-circle">
      <div class="indicator">
        <ng-icon name="lucideShoppingCart" size="24" color="white"></ng-icon>
        <span class="badge badge-xs badge-primary indicator-item">{{ cartCount() }}</span>
      </div>
    </a>
    @if (!isLoggedIn()) {
      <div class="hidden md:flex items-center space-x-2.5">
        <a
          routerLinkActive="text-white"
          routerLink="/login"
          class="hidden md:flex items-center space-x-1.5 font-bold text-slate-400 hover:text-primary text-sm transition-colors duration-300"
        >
          Login
        </a>
        <a
          routerLinkActive="text-white"
          routerLink="/signup"
          class="hidden md:flex items-center space-x-1.5 font-bold text-slate-400 hover:text-primary text-sm transition-colors duration-300"
        >
          Sign up
        </a>
      </div>
    }
    @if (isLoggedIn()) {
      <button
        (click)="handleLogout()"
        class="hidden md:flex items-center space-x-1.5 font-bold text-slate-400 hover:text-red-500 text-sm transition-colors duration-300 cursor-pointer"
      >
        <span>
          <ng-icon name="lucideLogOut" size="16"></ng-icon>
        </span>
        <span>Logout</span>
      </button>
    }
    <div class="md:hidden block dropdown dropdown-end">
      <button tabindex="0" role="button" class="cursor-pointer btn btn-ghost btn-circle">
        <ng-icon name="lucideMenu" size="24" color="white"></ng-icon>
      </button>
      <ul
        tabindex="-1"
        class="z-50 space-y-2.5 bg-base-100 shadow mt-3 px-0 py-5 w-screen menu menu-sm dropdown-content"
      >
        <li class="font-medium text-slate-400 hover:text-white transition-colors duration-300">
          <a
            class="block px-0 rounded-none text-base text-center"
            routerLinkActive="text-white"
            routerLink="/home"
            >Home</a
          >
        </li>
        <li class="font-medium text-slate-400 hover:text-white transition-colors duration-300">
          <a
            class="block px-0 rounded-none text-base text-center"
            routerLinkActive="text-white"
            routerLink="/products"
            >Shop</a
          >
        </li>
        <li class="font-medium text-slate-400 hover:text-white transition-colors duration-300">
          <a
            class="block px-0 rounded-none text-base text-center"
            routerLinkActive="text-white"
            routerLink="/orders"
            >Orders
          </a>
        </li>
        @if (isLoggedIn()) {
          <li class="font-medium text-slate-400 hover:text-red-500 transition-colors duration-300">
            <button
              class="flex justify-center items-center px-0 rounded-none font-bold text-base text-center cursor-pointer"
            >
              <span>
                <ng-icon name="lucideLogOut" size="12"></ng-icon>
              </span>
              <span>Logout</span>
            </button>
          </li>
        }
        @if (!isLoggedIn()) {
          <li>
            <a
              routerLinkActive="text-white"
              routerLink="/login"
              class="block px-0 rounded-none font-bold text-slate-400 hover:text-primary text-base text-center transition-colors duration-300"
            >
              Login
            </a>
          </li>
          <li>
            <a
              routerLinkActive="text-white"
              routerLink="/signup"
              class="block px-0 rounded-none font-bold text-slate-400 hover:text-primary text-base text-center transition-colors duration-300"
            >
              Sign up
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</header>
