<div class="flex gap-4">
  <div class="bg-slate-700 rounded-lg w-16 h-16 overflow-hidden shrink-0">
    <img class="w-full h-full object-cover" [src]="getVariantImage()" />
  </div>
  <div class="flex-1 space-y-0.5">
    <h3 class="font-medium text-white text-sm line-clamp-1">{{ item.product.name }}</h3>
    <p class="flex gap-1 text-slate-400 text-xs">
      <span>{{ item.size }}</span>
      <span>|</span>
      <span>{{ getVariantColor() }}</span>
    </p>
    <p class="flex gap-1 text-slate-400 text-xs">
      <span>Qty</span>
      <span>:</span>
      <span>{{ item.quantity }}</span>
    </p>
  </div>
  <p class="font-medium text-white text-sm">{{ item.price | currency }}</p>
</div>
