<div
  class="group relative bg-card shadow-sm hover:shadow-primary/10 hover:shadow-xl border border-slate-800 rounded-xl overflow-hidden transition-all duration-300"
>
  <div class="top-3 left-3 z-10 absolute">
    <span
      class="bg-black/80 backdrop-blur px-2 py-1 rounded font-bold text-white text-xs uppercase"
    >
      {{ data.gender }}
    </span>
  </div>
  <div class="relative bg-gray-800 aspect-4/5 overflow-hidden">
    <img
      class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-500"
      src="{{ data?.variants?.at(0)?.images?.at(0)?.url }}"
      alt="{{ data.name }}"
    />
    <div
      class="absolute inset-0 flex justify-center items-center bg-black/40 opacity-0 group-hover:opacity-100 backdrop-blur-[2px] transition-opacity"
    >
      <a
        class="flex items-center gap-2 bg-primary hover:bg-blue-600 px-6 py-2 rounded-lg font-semibold text-white transition-all translate-y-4 group-hover:translate-y-0 duration-300 cursor-pointer transform"
        routerLink="/products/{{ data._id }}"
        [queryParams]="{ variant: selectedVariant()?.variantId }"
      >
        <span class="text-sm">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-sparkles-icon lucide-sparkles"
          >
            <path
              d="M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z"
            />
            <path d="M20 2v4" />
            <path d="M22 4h-4" />
            <circle cx="4" cy="20" r="2" />
          </svg>
        </span>
        Customize
      </a>
    </div>
  </div>
  <div class="p-4">
    <h3 class="mb-1 font-bold text-white text-lg line-clamp-1">{{ data.name }}</h3>
    <div class="flex justify-between items-center">
      <span class="text-slate-400 text-sm">{{ data.brand }}</span>
      <span class="font-semibold text-white">${{ data.basePrice }}</span>
    </div>
    <div class="flex gap-1 mt-2">
      <div class="flex gap-2">
        @for (variant of data.variants; track variant.variantId) {
          <!-- <div
            (click)="selectVariant(variant)"
            [style.background-color]="variant.color.hex"
            class="relative flex justify-center items-center border-2 rounded-full w-6 h-6 transition-all cursor-pointer"
            [class.border-white]="selectedVariant()?.variantId === variant.variantId"
            [class.border-transparent]="selectedVariant()?.variantId !== variant.variantId"
          >
            @if (selectedVariant()?.variantId === variant.variantId) {
              <span class="text-[10px] text-white">✓</span>
            }

            <input
              type="radio"
              [checked]="selectedVariant()?.variantId === variant.variantId"
              class="sr-only"
            />
          </div> -->
          <div
            (click)="selectVariant(variant)"
            class="flex justify-center items-center border-2 rounded-full w-8 h-8 transition-all cursor-pointer"
            [style.border-color]="
              selectedVariant()?.variantId === variant.variantId ? '#2b7fff' : 'transparent'
            "
          >
            <div [style.background-color]="variant.color.hex" class="rounded-full w-6 h-6"></div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
