<div
  class="group bg-card hover:shadow-xl border border-slate-800 rounded-xl overflow-hidden transition-all duration-300"
>
  <div class="relative bg-slate-800 aspect-4/5">
    <img
      class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500"
      src="https://lh3.googleusercontent.com/aida-public/AB6AXuDl6WYJ9Ejs22x6qdXuN8Hy0QpUXreAccPr1dhKZRuWGFiLBtTUYayd7wAiv1maqMaRHX-KazpqA0l3Cx33C8ms4Tf2p3SiPWbytGIAt5wdiJGMFPXTXXmWihGSq_NsGmlsAC3NW_9re6hhxrHWaP2eJz69FNg4OP79ZuCgsRoowBeGu43QmX8lasfWuin28Xs49K4UZiqJ8mnPCh_1BdDAG98gZxqQGCwxkxbqh5dAndZjRUulJKGqk7sIzQdNMAeLPqOrb2L2uBE"
      alt=""
    />
    <button
      class="top-3 right-3 absolute flex justify-center items-center bg-black/60 hover:bg-red-500 backdrop-blur-sm rounded-full w-8 h-8 text-white transition-colors duration-300 cursor-pointer"
    >
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-x-icon lucide-x"
        >
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg>
      </span>
    </button>
    <!-- Badge -->
    <div
      class="top-3 left-3 absolute flex items-center gap-1 bg-primary shadow-lg px-2 py-1 rounded font-bold text-[10px] text-white"
    >
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-sparkles-icon lucide-sparkles"
        >
          <path
            d="M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z"
          />
          <path d="M20 2v4" />
          <path d="M22 4h-4" />
          <circle cx="4" cy="20" r="2" />
        </svg>
      </span>
      <span class="uppercase">Ai Designed</span>
    </div>
  </div>
  <div class="p-4">
    <div class="flex justify-between items-center mb-1">
      <h3 class="font-bold text-white text-base line-clamp-1 leading-tight">Cyber-Silk Bomber</h3>
      <span class="font-bold text-primary text-lg">$289</span>
    </div>
    <p class="mb-4 text-slate-400 text-xs italic line-clamp-2">
      "Neon circuit patterns on matte obsidian silk"
    </p>
    <div class="flex items-center gap-2.5">
      <button
        class="bg-primary hover:bg-blue-600 py-2 rounded-lg w-full font-bold text-white text-sm transition-colors duration-300 cursor-pointer"
      >
        Add to Cart
      </button>
      <a
        class="block bg-transparent hover:bg-blue-600 px-4 py-2 rounded-lg ring-1 ring-primary w-fit text-white transition-colors duration-300"
        routerLink="/product/id"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-eye-icon lucide-eye"
        >
          <path
            d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"
          />
          <circle cx="12" cy="12" r="3" />
        </svg>
      </a>
    </div>
  </div>
</div>
