<div class="flex justify-center items-center h-full">
  <div class="flex xl:w-5xl">
    <div
      class="hidden md:block bg-[url('/images/material.png')] bg-cover bg-center rounded-l-2xl md:w-3xs xl:w-xs"
    >
      <div
        class="relative flex flex-col bg-linear-to-t from-background via-background/60 to-transparent p-5 rounded-l-2xl h-full"
      >
        <div class="flex items-center gap-2">
          <div class="bg-primary p-1.5 rounded-md w-fit">
            <span class="flex justify-center items-center">
              <ng-icon size="20" name="lucideSparkles"></ng-icon>
            </span>
          </div>
          <h1 class="font-bold">AI Fashion Studio</h1>
        </div>
        <div class="flex flex-col gap-2.5 my-auto">
          <div class="font-bold text-3xl">
            <p>Welcome back to</p>
            <p class="bg-clip-text bg-linear-to-r from-primary to-cyan-400 text-transparent">
              your studio.
            </p>
          </div>
          <p class="text-stone-400 text-xs">
            Continue creating generative fashion designs and managing your digital collection.
          </p>
        </div>
        <div
          class="top-0 right-0 bottom-0 left-0 absolute flex flex-col bg-primary/20 rounded-bl-2xl mix-blend-overlay"
        ></div>
      </div>
    </div>
    <div
      class="flex md:justify-center bg-card p-5 md:py-14 rounded-2xl md:rounded-r-2xl md:rounded-l-none md:w-md lg:grow"
    >
      <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-1.5">
          <h2 class="font-semibold text-2xl">Log In</h2>
          <p class="text-text-muted text-sm">Welcome back! Please enter your details.</p>
        </div>
        <div class="flex items-center gap-3">
          <button class="btn-secondary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 48 48"
              style="width: 16px; height: 16px"
            >
              <path
                fill="#EA4335"
                d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"
              />
              <path
                fill="#4285F4"
                d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"
              />
              <path
                fill="#FBBC05"
                d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24s.92 7.54 2.56 10.78l7.97-6.19z"
              />
              <path
                fill="#34A853"
                d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"
              />
              <path fill="none" d="M0 0h48v48H0z" />
            </svg>
            <span>Google</span>
          </button>
          <button class="btn-secondary">
            <fa-icon [icon]="faFacebook" class="text-primary" [size]="'xl'"></fa-icon>
            <span>Facebook</span>
          </button>
        </div>
        <div class="flex justify-center items-center gap-1.5">
          <hr class="hr" />
          <p class="text-text-muted text-xs">OR LOG IN WITH EMAIL</p>
          <hr class="hr" />
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()" class="flex flex-col gap-5">
          <div class="flex flex-col gap-1.5">
            <label for="email" class="text-text-muted text-xs">Email Address</label>
            <label class="bg-background border-border focus-within:outline-none w-full input">
              <span class="flex justify-center items-center text-text-muted">
                <ng-icon size="14" name="lucideMail"></ng-icon>
              </span>
              <input
                formControlName="email"
                id="email"
                type="email"
                class="text-text-muted grow"
                placeholder="john@example.com"
              />
            </label>
          </div>
          <div class="flex flex-col gap-1.5">
            <label for="password" class="text-text-muted text-xs">Password</label>
            <label class="bg-background border-border focus-within:outline-none w-full input">
              <span class="flex justify-center items-center text-text-muted">
                <ng-icon size="14" name="lucideLock"></ng-icon>
              </span>
              <input
                formControlName="password"
                id="password"
                [type]="isPasswordVisible ? 'text' : 'password'"
                class="text-text-muted grow"
                placeholder="••••••••"
              />
              <button
                type="button"
                (click)="toggleVisibility()"
                class="hover:text-border focus:outline-none text-text-muted transition-all cursor-pointer"
              >
                <span class="flex justify-center items-center">
                  @if (isPasswordVisible) {
                    <ng-icon size="16" name="lucideEyeOff"></ng-icon>
                  } @else {
                    <ng-icon size="16" name="lucideEye"></ng-icon>
                  }
                </span>
              </button>
            </label>
            <div class="flex justify-end">
              <a routerLink="/forgetPassword" class="text-primary text-xs">Forgot Password?</a>
            </div>
          </div>
          <div class="flex flex-col items-center gap-2">
            <button
              class="disabled:bg-primary/50 btn-primary"
              [disabled]="loading() ? true : false"
            >
              @if (loading()) {
                <span class="loading loading-spinner"></span>
              } @else {
                Sign In
              }
            </button>
          </div>
        </form>
        <p class="self-center text-text-muted text-xs">
          Don't have an account? <a routerLink="/signup" class="text-primary">Sign up for free</a>
        </p>
      </div>
    </div>
  </div>
</div>
