/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

@theme inline {
  --color-primary-*: initial;
  --color-primary: var(--color-blue-500);
  --color-background: #101922;
  --color-card: #16212e;
  --color-text: #ffffff;
  --color-text-muted: var(--color-slate-400);
  --color-border: #2d3748;
  --color-danger: var(--color-red-500);

  --font-family-sans: 'Manrope', ui-sans-serif, system-ui, sans-serif;
  --default-font-family: var(--font-family-sans);

  --shadow-primary-glow: 0 0 20px rgba(37, 99, 235, 0.3);
}

@utility btn-primary {
  @apply w-full flex items-center justify-center gap-1 font-bold py-3 bg-primary hover:bg-blue-600 text-xs rounded-lg cursor-pointer transition-all;
}

@utility btn-secondary {
  @apply flex items-center gap-3 text-xs rounded-lg border border-border hover:bg-gray-800 transition-all px-6 md:px-11 py-3 cursor-pointer;
}

@utility hr {
  @apply w-1/5 md:w-1/4 border-border;
}

@utility custom-checkbox {
  @apply appearance-none w-4 h-4 border bg-background border-border rounded-md checked:bg-primary checked:border-blue-600 transition-all cursor-pointer relative after:content-['✓'] after:absolute after:text-white after:left-px after:-top-1 after:opacity-0 checked:after:opacity-100;
}

@utility color-checkbox {
  @apply appearance-none rounded-full w-8 h-8 cursor-pointer border border-border checked:outline-2 outline-primary outline-offset-2;
}

@utility product-view {
  @apply transition-all text-xs text-text-muted font-medium rounded-3xl px-3 py-1.5 cursor-pointer hover:peer-not-checked:bg-background peer-checked:bg-primary peer-checked:text-white peer-checked:font-bold;
}

@utility art-style {
  @apply text-xs transition-all text-text-muted rounded-lg px-3 py-1 border border-border hover:peer-not-checked:border-primary cursor-pointer peer-checked:text-primary peer-checked:bg-card peer-checked:border-primary;
}

@utility error-message {
  @apply text-danger text-xs;
}

html,
body {
  height: 100%;
  --color-primary: var(--color-blue-500) !important;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-sans);
}

.signup-hero {
  background: linear-gradient(to right, transparent, var(--color-card)), url('/images/Robot.png');
  background-size: cover;
  background-position: center;
}

.glitch-text {
  text-shadow:
    2px 0 #137fec,
    -2px 0 #ff00c1;
}
