<div class="flex sm:flex-row flex-col gap-6 p-6 border-slate-800 border-t">
  <div class="bg-slate-800 rounded-lg w-32 h-32 overflow-hidden shrink-0">
    <img
      src="https://lh3.googleusercontent.com/aida-public/AB6AXuCWZi4abUoVIWjfSWtH5nfZy2nrZihZNKycvpiMkoXm4-9the-Wvb18qnvROBpHLzYdX6GmtufrxaHGL5VqaKdgwIxft958GgaM1p1YZYGigqIbJYVob9tkgwhXn-MfzXGr-MjTVVbOjwPmbvATnzG9B2jbCVQa25k03Re4XlsQjln0Bvd3o8Y4DL0-LUycPrr_uhjMluPmLSxT7HHvkik0zbf_3eW8Ww_Tcs95DIKFPOdeLp2qBlVpMzO2QyWbJWt0xOaVwz13Jao"
      class="w-full h-full object-cover"
    />
  </div>
  <div class="flex-1">
    <h4 class="font-bold text-white text-lg">Cyberpunk Bomber Jacket</h4>
    <p class="mt-1 text-slate-400 text-sm">
      <span>Prompt:</span>
      <span>"Neo-Tokyo, electric blue, urban decay texturing" </span>
    </p>
    <div class="flex items-center gap-2 mt-4">
      <div class="bg-yellow-500 rounded-full w-2.5 h-2.5 animate-pulse"></div>
      <span class="font-medium text-yellow-500">Processing Custom Design</span>
    </div>
  </div>
</div>
