<div class="bg-card border border-slate-800 rounded-xl overflow-hidden">
  <div class="flex gap-8 bg-slate-800/50 px-6 py-4 border-slate-800 border-b text-sm">
    <div>
      <span class="block font-semibold text-slate-400 text-xs uppercase">Order Placed</span>
      <span class="text-white">Oct 24, 2023</span>
    </div>
    <div>
      <span class="block font-semibold text-slate-400 text-xs uppercase">Total</span>
      <span class="text-white">$185.00</span>
    </div>
    <div>
      <span class="block font-semibold text-slate-400 text-xs uppercase">Order ID</span>
      <span class="text-primary">#AG-88219</span>
    </div>
  </div>
  <app-orders-item></app-orders-item>
  <app-orders-item></app-orders-item>
  <app-orders-item></app-orders-item>
</div>
