<div class="bg-card border border-slate-800 rounded-xl overflow-hidden">
  <div class="flex gap-8 bg-slate-800/50 px-6 py-4 border-slate-800 border-b text-sm">
    <div>
      <span class="block font-semibold text-slate-400 text-xs uppercase">Order Placed</span>
      <span class="text-white">{{ order.createdAt | date }}</span>
    </div>
    <div>
      <span class="block font-semibold text-slate-400 text-xs uppercase">Total</span>
      <span class="text-white">{{ order.totalAmount | currency }}</span>
    </div>
    <div>
      <span class="block font-semibold text-slate-400 text-xs uppercase">Order ID</span>
      <span class="text-primary">{{ order.orderNumber }}</span>
    </div>
  </div>
  @for (item of order.items; track item.product._id + item.variantId + item.size) {
    <app-orders-item [item]="item" [order]="order"></app-orders-item>
  }
</div>
